/* src/styles/Header.css */
body {
  font-family: 'Roboto', sans-serif;
  padding-top: 70px; /* Ajuste para a altura do header */
}

.header {
    background-color: #333;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
  
  }
  
  .navbar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-logo {
    margin-left: 10px;
  }
  
  .navbar-logo a {
    color: white;
    text-decoration: none;
    font-size: 24px;
  }
  
  .navbar-logo a:hover {
    text-decoration: underline;
  }
  
  .navbar-links {
    display: flex;
    gap: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }
  
  .navbar-links a:hover {
    text-decoration: underline;
  }
  
  .navbar-user {
    margin-right: 10px;
  }
  
  .navbar-user a {
    color: white;
  }
  
  